<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="../../css/page-styles.html">
<link rel="import" href="../../css/appDrawer-styles.html">

<dom-module id="add-widget">

  <template>
    <style include="page-styles appDrawer-styles">
    </style>

    <div>
      <app-toolbar class="drawer-header">
        <div class="close" on-tap="_closeDrawer">>></div>
        <div class="flex">新建仪表板</div>
        <div class="btns">
          <paper-button on-click="_saveLayout">
          保存
          </paper-button>
        </div>
      </app-toolbar>

      <div class="drawer-con">
        <div class="tabs">
          <paper-tabs selected="{{tabSelected}}">
            <paper-tab><paper-ripple></paper-ripple>一般</paper-tab>
            <paper-tab><paper-ripple></paper-ripple>外观</paper-tab>
            <paper-tab><paper-ripple></paper-ripple>布局</paper-tab>
          </paper-tabs>
        </div>
        <div class="tab-con con">

          <iron-pages selected="{{tabSelected}}" attr-for-selected="name">
            <div name="0">
              <div class="item">
                <paper-input always-float-label label="名称(N):" value="{{name}}"></paper-input>
                <paper-input always-float-label label="别名(A):" value="{{alias}}" on-blur="_onBlurAlias"></paper-input>
              </div>
              <div class="item">
                <paper-input always-float-label label="说明(D):" value="{{description}}"></paper-input>
                <paper-dropdown-menu label="范围(S):">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
                    <paper-item>个人</paper-item>
                    <paper-item>角色</paper-item>
                    <paper-item>全局</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu label="负责人(O):">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
                    <paper-item>个人</paper-item>
                    <paper-item>角色</paper-item>
                    <paper-item>全局</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu label="类别(C):">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
                    <paper-item>个人</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu label="关联(A):">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
                    <paper-item>未关联</paper-item>
                    <paper-item>告警</paper-item>
                    <paper-item>可用性</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <!-- <paper-dropdown-menu label="选择仪表板部件:">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">

                    <paper-item>[[widgetCategory]]</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu> -->

                <div class="checkboxs">
                  <paper-checkbox class="styled">
                    在导航中显示
                  </paper-checkbox>
                </div>
              </div>
            </div>
            <div name="1">
              <div class="item">
                <h5>标题</h5>
                <paper-input always-float-label label="文本:"></paper-input>
                <div class="checkboxs">
                  <paper-checkbox class="styled">
                    显示日期
                  </paper-checkbox>
                </div>
                <div class="checkboxs">
                  <paper-checkbox class="styled">
                    使用系统颜色
                  </paper-checkbox>
                </div>
                <div class="sitem">
                  <h6>图标:</h6>
                  <vaadin-upload  accept="*" title="tubiao">
                    <span slot="drop-label">拖拽图标到此处上传</span>
                  </vaadin-upload>
                </div>
                <div class="sitem">
                  <h6>文本颜色:</h6>
                  <paper-swatch-picker color="{{selectedTextColor}}"></paper-swatch-picker>
                </div>
                <div class="sitem">
                  <h6>背景色:</h6>
                  <div class="radios">
                    <paper-radio-group selected="a" aria-labelledby="label2">
                      <paper-radio-button name="a">单色</paper-radio-button>
                      <paper-radio-button name="b">渐变色</paper-radio-button>
                    </paper-radio-group>
                  </div>
                  <div class="color-select">
                    <div class="color">
                      <paper-swatch-picker color="{{selectedBgStartColor}}"></paper-swatch-picker>
                      <span>颜色1</span>
                    </div>
                    <div class="color">
                      <paper-swatch-picker color="{{selectedBgEndColor}}"></paper-swatch-picker>
                      <span>颜色2</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item gray">
                <h5>背景</h5>
                <div class="sitem">
                  <h6>图像:</h6>
                  <vaadin-upload  accept="*" title="tubiao">
                    <span slot="drop-label">拖拽图标到此处上传</span>
                  </vaadin-upload>
                </div>
                <div class="sitem">
                  <h6>背景色:</h6>
                  <div class="radios">
                    <paper-radio-group selected="a" aria-labelledby="label3">
                      <paper-radio-button name="a">单色</paper-radio-button>
                      <paper-radio-button name="b">渐变色</paper-radio-button>
                    </paper-radio-group>
                  </div>
                  <div class="color-select">
                    <div class="color">
                      <paper-swatch-picker color="{{selectedBgStartColor}}"></paper-swatch-picker>
                      <span>颜色1</span>
                    </div>
                    <div class="color">
                      <paper-swatch-picker color="{{selectedBgEndColor}}"></paper-swatch-picker>
                      <span>颜色2</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div name="2">
              <div class="item pink">
                <paper-dropdown-menu label="范围(S):">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
                    <paper-item>个人</paper-item>
                    <paper-item>角色</paper-item>
                    <paper-item>全局</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu label="负责人(O):">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
                    <paper-item>个人</paper-item>
                    <paper-item>角色</paper-item>
                    <paper-item>全局</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu label="范围(S):">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
                    <paper-item>个人</paper-item>
                    <paper-item>角色</paper-item>
                    <paper-item>全局</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu label="负责人(O):">
                  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
                    <paper-item>个人</paper-item>
                    <paper-item>角色</paper-item>
                    <paper-item>全局</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>
            </div>
          </iron-pages>
        </div>
      </div>
    </div>

  </template>

  <script>

    class AddWidget extends Polymer.Element {

      static get is() { return 'add-widget'; }

      static get properties() { return {

        widget: {
          type: String,
          notify: true
        },

        widgetCategory: Array,

        panelInfo: Object,
        alias: String,
        name: String,
        description: String,
        scope: String,
        scopeOwner: String,
        selectedTextColor: String,
        selectedBgStartColor: String,
        selectedBgEndColor: String,
        tabSelected: {
          type: Number,
          value: 0
        }
      }}

      ready() {
        super.ready();
        this._getWidgetCategories();
      }

      _getWidgetCategories(){
        var _this = this;
        $.ajax({
          type: "GET",
          url: Window.AppConfig.serverUrl+"/foundation/api/v1/dashboardpart/getCategorys?token=BD53EDB579544BAEB2B07448C7890D5F",
          async : true,
          success: function(data){
            var arr = JSON.parse(data);
            _this.widgetCategory = arr;
          },
          error: function(error){
            console.log("errorMsg",error);
          }
        });
      }
      _closeDrawer() {
        this.dispatchEvent(new CustomEvent('addWidget-close', {bubbles: true, composed: true}));
      }

      _onClickOk() {
        this.widget = this.$.widget.value;
        this.dispatchEvent(new CustomEvent('onclick-ok', {bubbles: true, composed: true}));
      }

    }

    customElements.define(AddWidget.is, AddWidget);

  </script>

</dom-module>
