<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../css/page-styles.html">

<link rel="import" href="../../news-vaadin.html">
<link rel="import" href="edit-business.html">

<dom-module id="center-business">

  <template>
    <style include="page-styles">
    app-drawer {
      z-index: 1000;
      top: 0;
      left: 0;
    }
    .add-header{
      height: 58px;
      background-color: #3399cc;
      color: #ecfsf9;
    }
     .flex{
       font-size: 17px;
     }
    .add-content .pink .btn{
      margin: 0 !important;
      margin-right: 16px !important;
      font-size: 14px;
      height: 34px;

    }
    .add-content .btns{
      font-size: 14px;
      display: inline-block;
      margin: 0 ;
      margin-left: 16px;
      color: #fff;
      padding: 0 15px;
      height: 34px;
      line-height: 34px;
      background-color: #333833;
      text-align: center;
      margin-bottom: 5px;
    }
    .add-content .item.pink{
      padding-bottom: 30px !important;
    }
    .add-content .item .htext{
      line-height: 34px;
    }
    paper-dropdown-menu{
      margin-right: 25px;
    }
    </style>
    <app-toolbar class="add-header">
      <div class="flex">业务规则 中心</div>
      <paper-icon-button icon="chevron-right" on-tap="_closeDrawer"></paper-icon-button>
    </app-toolbar>

    <div class="add-content">
      <!-- 编辑 -->
      <app-drawer id="editOperating" align="right" swipe-open class="map-add">
        <div class="drawer-contents">
          <edit-business>
          </edit-business>
        </div>
      </app-drawer>

      <div class="item">
        <h5>搜索条件</h5>
        <paper-dropdown-menu label="业务对象类别:">
          <paper-listbox slot="dropdown-content" selected="1">
            <paper-item>所有类别</paper-item>
            <paper-item>IT资源监测</paper-item>
            <paper-item>其他</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-input always-float-label label="业务对象类型:"></paper-input>
        <paper-dropdown-menu label="范 围:">
          <paper-listbox slot="dropdown-content" selected="1">
            <paper-item> </paper-item>
            <paper-item>全局</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-dropdown-menu label="负责人:">
          <paper-listbox slot="dropdown-content" selected="1">
            <paper-item> </paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
      </div>

      <div class="item pink">
        <paper-input always-float-label label="按名称全文搜索:"></paper-input>
        <paper-button class="btn" on-click="">搜索</paper-button>
        <paper-button class="btn" on-click="">关闭</paper-button>

      </div>

      <div  class="item">
        <h5 style="display:inline-block;">仪表板列</h5>
        <paper-button class="btns" on-click="_editBusiness">添加</paper-button>
        <news-vaadin id="tableN"></news-vaadin>
      </div>

    </div>


  </template>

  <script>

    class centerBusiness extends Polymer.Element {

      static get is() { return 'center-business'; }

      static get properties() { return {


      }}

      ready() {
        super.ready();

      }

      _closeDrawer() {
        this.dispatchEvent(new CustomEvent('addWidget-close', {bubbles: true, composed: true}));
      }

      _editBusiness(){
        this.$.editBusiness.open();
      }
      _onClickOk() {
        this.dispatchEvent(new CustomEvent('onclick-ok', {bubbles: true, composed: true}));
      }

    }

    customElements.define(centerBusiness.is, centerBusiness);

  </script>

</dom-module>
