<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../../css/page-styles.html">
<link rel="import" href="../../css/appDrawer-styles.html">

<link rel="import" href="../../news-vaadin.html">

<dom-module id="edit-operate">

  <template>
    <style include="page-styles appDrawer-styles">
    paper-radio-button{
      display: block;
    }
    .drawer-con .item h5{
      font-size: 14px;
      font-weight: bold;
    }
    #field input{
      display: inline-block;
      width: 120px;
    }
    paper-checkbox{
      margin: 10px 0;
    }
    .lookFor{
      display: inline-block;
      width: 240px;
    }
    .lookFordiv{
      width: 100%;
      position: relative;
    }
    .btnb{
      position: absolute;
      right: 15px;
      bottom: 8px;
    }
    .btnb paper-button {
    background-color: #61c179;
    color: #fff;
    height: 30px;
    line-height: 30px;
    float: right;
    margin: 0 ;
    font-size: 14px;
    padding: 0 8px;
    }
    .setout{
      border: 1px solid #DFDFDF;
      padding: 5px 7px;
    }
    .setout h3{
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      color: #969696;
      margin: 0;
    }
    .setout input{
      border: 0px solid #DFDFDF;
      border-bottom: 1px solid #DFDFDF;
      width: 95px;
      color: #969696;
    }
    .setout a{
      font-size: 14px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
    .setout a span{
      display: inline-block;
      border: 6px solid transparent;
      border-top: 10px solid #000;
      margin-bottom: -6px;
    }
    </style>


    <app-toolbar class="drawer-header">
      <div class="close" on-tap="_closeDrawer">>></div>
      <div class="flex">快速操作</div>
      <div class="btns">
        <paper-button on-click="_saveLayout">
        保存
        </paper-button>
      </div>
    </app-toolbar>

    <div class="add-content">



      <div class="drawer-con">
        <div class="tabs">
          <paper-tabs selected="{{tabSelected}}">
            <paper-tab><paper-ripple></paper-ripple>一般</paper-tab>
            <paper-tab><paper-ripple></paper-ripple>操作</paper-tab>
          </paper-tabs>
        </div>


        <div class="tab-con con">
          <iron-pages selected="{{tabSelected}}" attr-for-selected="name">
            <div name="0">

              <div class="item content-item">
                <div class="item">
                  <paper-input always-float-label label="名称(N):" value="{{name}}"></paper-input>
                  <paper-input always-float-label label="别名(A):" value="{{alias}}" on-blur="_onBlurAlias"></paper-input>
                </div>

                <div class="item">
                  <paper-input always-float-label label="说明(D):" value="{{description}}"></paper-input>
                  <paper-dropdown-menu label="范围(S):">
                    <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
                      <paper-item>全局</paper-item>
                    </paper-listbox>
                  </paper-dropdown-menu>
                  <paper-dropdown-menu label="负责人(O):" disabled>
                    <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
                      <paper-item>全局</paper-item>
                      <paper-item>个人</paper-item>
                    </paper-listbox>
                  </paper-dropdown-menu>
                  <vaadin-combo-box  always-float-label id="demo1-1" label="类别（C）:"></vaadin-combo-box>
                  <vaadin-combo-box  always-float-label id="demo1-1" label="关联（A）:"></vaadin-combo-box>
                  <!-- <paper-dropdown-menu label="类别(C):">
                    <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
                      <paper-item>个人</paper-item>
                    </paper-listbox>
                  </paper-dropdown-menu>
                  <paper-dropdown-menu label="关联(A):">
                    <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
                      <paper-item>未关联</paper-item>
                      <paper-item>告警</paper-item>
                      <paper-item>可用性</paper-item>
                    </paper-listbox>
                  </paper-dropdown-menu> -->
                  <paper-checkbox class="styled" style="display:block;">
                    显示为菜单项
                  </paper-checkbox>
                  <paper-checkbox class="styled" style="display:block;">
                    显示导航栏中
                  </paper-checkbox>
                  <paper-checkbox class="styled" style="display:block;">
                    可以取消动作
                  </paper-checkbox>
                  <div class="lookFordiv">
                    <paper-input always-float-label label="过滤查找:" class="lookFor"></paper-input>
                    <div class="btnb">
                      <paper-button on-click="_saveLayout">
                      浏览（B）...
                      </paper-button>
                  </div>

                  </div>
              </div>
            </div>
            </div>
            <div name="1">
              <div class="item content-item">
                <div class="item">
                  <h5>准备操作：</h5>
                  <div class="setout">
                    <h3>名称：</h3><input type="text" name="" value="修改前台">
                    <h3>说明：</h3><input type="text" name="" value="修改前台">
                    <a href="#">操作 <span></span></a>

                  </div>

                </div>


            </div>
            </div>
          </iron-pages>
        </div>
      </div>
    </div>


  </template>

  <script>

    class editOperate extends Polymer.Element {

      static get is() { return 'edit-operate'; }

      static get properties() { return {
        panelInfo: Object,
        alias: String,
        name: String,
        description: String,
        scope: String,
        scopeOwner: String,
        selectedTextColor: String,
        selectedBgStartColor: String,
        selectedBgEndColor: String,
        tabSelected: {
          type: Number,
          value: 0
        }
      }}

      ready() {
        super.ready();
        var combobox1 = document.querySelector('#demo1-1');
          this._addEventListen();
        // combobox1.items = ;


        // $(this.$.ischange).change(function() {
        //   alert("changed");
        // });
      }

  //     window.addEventListener('WebComponentsReady', () {
  //   var combobox1 = document.querySelector('#demo1-1');
  //   combobox1.items = combobox2.items = combobox3.items = elements;
  // });
      _closeDrawer() {
        this.dispatchEvent(new CustomEvent('editOperate-close', {bubbles: true, composed: true}));
      }

      _addEventListen(){
        var field = this.root.querySelector("#field");
        field.style.display = 'none';
        var demo1_1 = this.root.querySelector("#demo1_1");

        var eventdemo = this.root.querySelector("#eventdemo");
        $(eventdemo).bind('click', function(){
          var selected = eventdemo.selected;
          if (selected == 'f') {
            $(field).show();
            demo1_1.disabled = false;
          } else {
            demo1_1.disabled = true;
            $(field).hide();
          }
        });
      }

      _onClickOk() {
        this.dispatchEvent(new CustomEvent('onclick-ok', {bubbles: true, composed: true}));
      }

      _onBlurAlias(){
        if(this.alias === ""){
          this.alias = this.name;
        }
      }

    }

    customElements.define(editOperate.is, editOperate);

  </script>

</dom-module>
