<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../css/page-styles.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../../news-vaadin.html">

<dom-module id="edit-business">

  <template>
    <style include="page-styles">
    .add-content .pink .btn{
      margin: 0 !important;
      margin-right: 16px !important;
      font-size: 14px;
      height: 34px;

    }
    .add-header{
      height: 58px;
      background-color: #3399cc;
      color: #ecfsf9;
    }
    .flex{
      font-size: 17px;
    }
    .add-content .btns{
      font-size: 14px;
      display: inline-block;
      margin: 0 ;
      margin-left: 16px;
      color: #fff;
      padding: 0 15px;
      height: 34px;
      line-height: 34px;
      background-color: #333833;
      text-align: center;
      margin-bottom: 5px;
    }
    .add-content .item.pink{
      padding-bottom: 30px !important;
    }
    paper-dropdown-menu{
      margin-right: 25px;
    }
    .ptabs {
      margin: 0;
      display: flex;
      /*align-items: flex-end;*/
      background: #222;
      color: white;
    }

    paper-tabs {
      font-family: 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      width: 100%;
      text-transform: uppercase;
      margin-bottom: 1px;
    }
    .content .content-item{
      min-height: 358px;
      font-family: Arial;
      font-size: 13px;
      color: #404040;
    }
    .content .content-item a{
      color: #7598C6;
    }
    .content .content-item h5{
      font-family: Arial;
      font-size: 13px;
      color: #404040;
      margin: 0 15px;
      font-weight: normal;
    }
    .content .content-item .content-div{
      width: 100%;
      min-height: 260px;
      border: 1px solid #ebebeb;
    }
    .frame-box{
      position: relative;
      padding-top: 10px;
      margin-top: 10px;
    }
    .frame-box>div{
      border: 1px solid #ebebeb;
      padding: 20px 7px;
    }
    .frame-box h5{
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 3px;
      background-color: #fff;
    }
    .frame-box label{
      display: block;
      margin: 7px 0;
    }
    .frame-box-div{
      width: 96%;
      min-height: 300px;
    }
    paper-tabs{
      font-size: 14px;
      color: #ecfsf9;
      background-color: #009688;
    }
    paper-checkbox{
      margin: 5px 0;
    }
    </style>
    <app-toolbar class="add-header">
      <div class="flex">业务规则</div>
      <paper-icon-button icon="chevron-right" on-tap="_closeDrawer"></paper-icon-button>
    </app-toolbar>

    <div class="add-content">



      <div class="container">
        <div class="ptabs">
          <paper-tabs selected="{{aa}}">
            <paper-tab>一般</paper-tab>
            <paper-tab>触发器选项</paper-tab>
            <paper-tab>快速操作选项</paper-tab>
          </paper-tabs>
        </div>
        <div class="content">
          <iron-pages selected="{{aa}}" attr-for-selected="name">
            <div name="0">
              <div class="item content-item">
                  <paper-input always-float-label label="名称（N）"></paper-input>
                  <paper-input always-float-label label="别名（A）"></paper-input>
                <paper-input always-float-label label="说明（D）:"></paper-input>
                <paper-dropdown-menu label="范 围（S）:">
                  <paper-listbox slot="dropdown-content" selected="0">
                    <paper-item>全局</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu always-float-label label="负责人（O）:">
                  <paper-listbox slot="dropdown-content" selected="0">
                    <paper-item>全局</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
                <vaadin-combo-box  always-float-label id="demo1-1" label="类别（C）:"></vaadin-combo-box>
                <vaadin-combo-box  always-float-label id="demo1-1" label="关联（A）:"></vaadin-combo-box>
                <div class="frame-box">
                  <h5>业务规则运行的位置</h5>
                  <div class="">
                    <label><input name="place" type="radio" value="" disabled="disabled"/>客户端 </label>
                    <label><input name="place" type="radio" value="" checked="checked"/>服务端 </label>
                  </div>
                </div>
                <div class="frame-box">
                  <h5>业务规则运行的时间</h5>
                  <div class="">
                    <label><input name="time" type="radio" value="" checked="checked"/>保存前 </label>
                    <label><input name="time" type="radio" value="" />保存后 </label>
                  </div>
                </div>
              </div>

            </div>
            <div name="1">
              <div class="item content-item">
                <paper-input always-float-label label="名称：" value="开始"></paper-input>
                <paper-input always-float-label label="描述："></paper-input>
                <div class="frame-box">
                  <h5>触发器</h5>
                  <div class="frame-box-div">

                  </div>
                </div>
              </div>
            </div>
            <div name="2">
              <div class="item content-item">
                <paper-input always-float-label label="名称：" value="活动"></paper-input>
                <paper-input always-float-label label="描述："></paper-input>
                <div class="frame-box">
                  <h5>快速操作</h5>
                  <div class="frame-box-div">

                  </div>
                </div>
              </div>
            </div>
          </iron-pages>
        </div>
      </div>

      <div class="item pink">
        <paper-button class="btn" on-click="">保存</paper-button>
        <paper-button class="btn" on-click="">取消</paper-button>
      </div>

    </div>


  </template>

  <script>

    class editBusiness extends Polymer.Element {

      static get is() { return 'edit-business'; }

      static get properties() { return {
        aa: {
          type: Number
        }

      }}

      ready() {
        super.ready();
        this.aa = 0;
        var combobox1 = document.querySelector('#demo1-1');
        // combobox1.items = ;
      }

  //     window.addEventListener('WebComponentsReady', () {
  //   var combobox1 = document.querySelector('#demo1-1');
  //   combobox1.items = combobox2.items = combobox3.items = elements;
  // });
      _closeDrawer() {
        this.dispatchEvent(new CustomEvent('addWidget-close', {bubbles: true, composed: true}));
      }

      _onClickOk() {
        this.dispatchEvent(new CustomEvent('onclick-ok', {bubbles: true, composed: true}));
      }

    }

    customElements.define(editBusiness.is, editBusiness);

  </script>

</dom-module>
