<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../plugin/field-edit.html">
<link rel="import" href="../plugin/grid-add.html">
<link rel="import" href="../../css/appDrawer-styles.html">

<!-- 编辑字段 -->
<dom-module id="grid-drawer-content">

  <template>

    <style include="appDrawer-styles">
      :host {
        width: 100%;

      }

      .container {
        text-align: left;
      }
    </style>
    <div class="container">
      <app-toolbar class="drawer-header">
        <div class="close" on-tap="_closeDrawer">>></div>
        <div class="flex">编辑业务对象树（显示）</div>
      </app-toolbar>
      <div class="tabs">
        <paper-tabs selected="0">
          <paper-tab id="add">添加网格</paper-tab>
          <paper-tab id="edit">编辑网格</paper-tab>
          <paper-tab id="delete">删除网格</paper-tab>
        </paper-tabs>
      </div>
      <iron-papes>
        <grid-add id="gridadd" selectedtarget={{selectedtarget}}></grid-add>
        <field-edit id="gridedit" selectedtarget={{selectedtarget}}></field-edit>
      </iron-pages>
    </div>
  </template>

  <script>

    class GridDrawerContent extends Polymer.Element {

      static get is() { return 'grid-drawer-content'; }

      static get properties() { return {
        selectedtarget : {
          type: String,
          notify: true
        },
      }}

      ready() {
        super.ready();
        this._addClickEvent();
      }

      _addClickEvent(){
        var fieldadd = this.root.querySelector('#gridadd');
        var fieldedit = this.root.querySelector('#gridedit');
        fieldedit.style.display = 'none';
        $(this.root.querySelector('#add')).bind('click', function(){
          $(fieldedit).fadeOut();
          $(fieldadd).fadeIn();
        });
        $(this.root.querySelector('#edit')).bind('click', function(){
          $(fieldadd).fadeOut();
          $(fieldedit).fadeIn();
        });
        var _this = this;
        $(this.root.querySelector('#delete')).bind('click', function(){
          if(confirm("确定删除该节点?")){
            _this.dispatchEvent(new CustomEvent('remove-tree-node', {bubbles: true, composed: true}));
            _this.$.gridadd._closeDrawer();
          }
        });
      }

      _closeDrawer(){
        this.$.gridadd._closeDrawer();
      }

      _submit(){
        // this.$.fieldadd
      }

    }

    customElements.define(GridDrawerContent.is, GridDrawerContent);

  </script>

</dom-module>
