<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../plugin/relate-edit.html">
<link rel="import" href="../plugin/relate-add.html">
<link rel="import" href="../../css/appDrawer-styles.html">

<!-- 编辑字段 -->
<dom-module id="relate-drawer-content">

  <template>

    <style include="appDrawer-styles">
      :host {
        width: 100%;
      }

      .container {
        text-align: left;
      }

    </style>
    <div class="container">
      <app-toolbar class="drawer-header">
        <div class="close" on-tap="_closeDrawer">>></div>
        <div class="flex">编辑业务对象树（关系）</div>
      </app-toolbar>
      <div class="tabs">
        <paper-tabs selected="0">
          <paper-tab id="add">添加关系</paper-tab>
          <template is="dom-if" if="[[leafNode]]">
            <paper-tab id="edit">编辑关系</paper-tab>
            <paper-tab id="delete">删除关系</paper-tab>
          </template>
        </paper-tabs>
      </div>
      <relate-add id="fieldadd"></relate-add>
      <relate-edit id="fieldedit" current-tree-node={{currentTreeNode}}></relate-edit>
    </div>
  </template>

  <script>

    class RelateDrawerContent extends Polymer.Element {

      static get is() { return 'relate-drawer-content'; }

      static get properties() { return {
        currentTreeNode: {
          type: Object,
          notify: true
        },
        leafNode: Boolean
      }}

      ready() {
        super.ready();
        this._addClickEvent();
      }

      _addClickEvent(){
        var fieldadd = this.root.querySelector('#fieldadd');
        var fieldedit = this.root.querySelector('#fieldedit');
        var deleteField = this.root.querySelector('#delete');
        fieldedit.style.display = 'none';
        $(this.root.querySelector('#add')).bind('click', function(){
          $(fieldedit).fadeOut();
          $(fieldadd).fadeIn();
        });
        $(this.root.querySelector('#edit')).bind('click', function(){
          $(fieldadd).fadeOut();
          $(fieldedit).fadeIn();
        });
        var _this = this;
        $(deleteField).bind('click', function(){
          if(confirm("确定删除该节点?")){
            _this.dispatchEvent(new CustomEvent('remove-tree-node', {bubbles: true, composed: true}));
            _this.$.fieldadd._closeDrawer();
          }
        });
      }

      _closeDrawer(){
        this.$.fieldadd._closeDrawer();
      }

      _submit(){
        // this.$.fieldadd
      }

    }

    customElements.define(RelateDrawerContent.is, RelateDrawerContent);

  </script>

</dom-module>
