<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../plugin/layout-add.html">
<link rel="import" href="../plugin/grid-add.html">
<link rel="import" href="../plugin/field-add.html">
<link rel="import" href="../../css/appDrawer-styles.html">

<!-- 编辑字段 -->
<dom-module id="show-drawer-content">

  <template>

    <style include="appDrawer-styles">
      :host {
        width: 100%;
      }

      .container {
        text-align: left;
      }

    </style>
    <div class="container">
      <app-toolbar class="drawer-header">
        <div class="close" on-tap="_closeDrawer">>></div>
        <div class="flex">编辑业务对象树（显示）</div>
      </app-toolbar>
      <div class="tabs">
        <paper-tabs selected="{{target}}">
          <paper-tab id="addWindow">添加窗体</paper-tab>
          <paper-tab id="addLayout">添加布局</paper-tab>
          <paper-tab id="addGrid">添加网格</paper-tab>
        </paper-tabs>
      </div>
      <iron-pages selected="{{target}}" attr-for-selected="name">
        <field-add name="0"></field-add>
        <layout-add name="1"></layout-add>
        <grid-add name="2"></grid-add>
      </iron-pages>
    </div>
  </template>

  <script>

    class ShowDrawerContent extends Polymer.Element {

      static get is() { return 'show-drawer-content'; }

      static get properties() { return {
        target: {
          type: Number
        }
      }}

      ready() {
        super.ready();
        this.target = "0";
      }

    }

    customElements.define(ShowDrawerContent.is, ShowDrawerContent);

  </script>

</dom-module>
