precision=default
noSlotFilter=true
startHour=now
format=noBorders
reportType=barGraph
_warningNotIncluded=checked
schedule=weekday	M,T,W,R,F,S,U	3600
description=hello world!!!!!!
monitors=1 Test
id=16
title=aabbccdd
startDay=today
_fileEncoding=UTF-8
window=172800
email=liuyaoao@dragonflow.com
basic=checked
relative=-1
