_nextID=3
_fileEncoding=UTF-8
#
_cNumberC=100
_id=administrator
_cNumber=100
_cEmail=admin@dragonflow.com
_cURL=www.siteview.com
_fileEncoding=UTF-8
_cPhone=876542
_cDesc=siteview is monitor
#
_monitorAcknowledge=true
_preference=true
_monitorDisable=true
_groupRefresh=true
_progress=true
_alertAdhocReport=true
_reportToolbar=true
_preferenceTest=true
_monitorEdit=true
_cNumberC=100
_id=tenant1
_healthDisable=true
_groupEdit=true
_alertEdit=true
_reportDisable=true
_cNumber=402
_reportAdhoc=true
_cEmail=23@qq.com
_monitorRefresh=true
_reportGenerate=true
_cName=dazhong
_alertRecentReport=true
_multiEdit=true
_groupDisable=true
_monitorRecent=true
_alertTempDisable=true
_monitorTools=true
_cPhone=12345678909
_browse=true
_alertList=true
_logs=true
_healthView=true
_support=true
_tools=true
_reportEdit=true
_alertTest=true
_healthEdit=true
_alertDisable=true
#
_monitorAcknowledge=true
_preference=true
_monitorDisable=true
_groupRefresh=true
_progress=true
_alertAdhocReport=true
_reportToolbar=true
_preferenceTest=true
_monitorEdit=true
_cNumberC=50
_id=tenant2
_healthDisable=true
_groupEdit=true
_alertEdit=true
_reportDisable=true
_cNumber=403
_reportAdhoc=true
_cEmail=223@qq.com
_monitorRefresh=true
_reportGenerate=true
_alertRecentReport=true
_cName=ceshi
_multiEdit=true
_groupDisable=true
_monitorRecent=true
_alertTempDisable=true
_monitorTools=true
_cPhone=12345678909
_browse=true
_alertList=true
_logs=true
_healthView=true
_support=true
_reportEdit=true
_tools=true
_alertTest=true
_healthEdit=true
_alertDisable=true
