_nextID=6
_fileEncoding=UTF-8
#
_id=administrator
_userEdit=true
_realName=SiteView Administrator
_password=(0x)LEMNOBMOME
_login=admin
_useGlobalPermissions=true
_tenant=administrator
#
_reportIndexToolbar=true
_progress=true
_alertAdhocReport=true
_preferenceTest=true
_id=user
_topazConfigChangesReport=true
_reportAdhoc=true
_realName=SiteView User
_disabled=true
_alertRecentReport=true
_monitorRecent=true
_monitorTools=true
_browse=true
_tools=true
#
_monitorAcknowledge=true
_preference=true
_monitorDisable=true
_groupRefresh=true
_progress=true
_alertAdhocReport=true
_reportToolbar=true
_preferenceTest=true
_monitorEdit=true
_id=login1
_healthDisable=true
_groupEdit=true
_alertEdit=true
_reportDisable=true
_reportAdhoc=true
_userEdit=true
_realName=lihua.zhong
_password=(0x)MGNCOIMKMMNCMKOO
_monitorRefresh=true
_login=lihua.zhong
_reportGenerate=true
_alertRecentReport=true
_multiEdit=true
_groupDisable=true
_monitorRecent=true
_alertTempDisable=true
_monitorTools=true
_browse=true
_alertList=true
_logs=true
_tenant=tenant1
_healthView=true
_support=true
_tools=true
_reportEdit=true
_alertTest=true
_healthEdit=true
_alertDisable=true
#
_monitorAcknowledge=true
_preference=true
_monitorDisable=true
_groupRefresh=true
_progress=true
_alertAdhocReport=true
_reportToolbar=true
_preferenceTest=true
_monitorEdit=true
_id=login2
_healthDisable=true
_groupEdit=true
_alertEdit=true
_reportDisable=true
_reportAdhoc=true
_userEdit=true
_password=(0x)MHMOOHNJ
_monitorRefresh=true
_login=test
_reportGenerate=true
_alertRecentReport=true
_multiEdit=true
_groupDisable=true
_monitorRecent=true
_alertTempDisable=true
_monitorTools=true
_browse=true
_alertList=true
_logs=true
_tenant=administrator
_healthView=true
_support=true
_tools=true
_reportEdit=true
_alertTest=true
_healthEdit=true
_alertDisable=true
#
_monitorAcknowledge=true
_preference=true
_monitorDisable=true
_groupRefresh=true
_progress=true
_alertAdhocReport=true
_reportToolbar=true
_preferenceTest=true
_monitorEdit=true
_id=login3
_healthDisable=true
_groupEdit=true
_alertEdit=true
_reportDisable=true
_userEdit=true
_reportAdhoc=true
_password=(0x)MGNCOIMKMMNCMKOO
_monitorRefresh=true
_reportGenerate=true
_login=lihuazhong
_alertRecentReport=true
_multiEdit=true
_groupDisable=true
_monitorRecent=true
_alertTempDisable=true
_monitorTools=true
_browse=true
_alertList=true
_logs=true
_tenant=tenant1
_healthView=true
_support=true
_reportEdit=true
_tools=true
_alertTest=true
_healthEdit=true
_alertDisable=true
