<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../../css/form/form-style.html">

<dom-module id="field-propertites-basic">
  <template>
    <style include="form-style iron-flex">
      :host {
        width: 100%;
      }
      paper-checkbox {
        line-height: 34px;
        font-size: 12px;
      }

      /* mobile */
      @media (max-width: 767px) {
      }

    </style>

    <form class="form form2">
      <div class="form-group">
        <paper-icon-button icon="expand-more" on-click="_shrink"></paper-icon-button>
        <label>字段标识</label>
        <!-- <div class="flex"><div class="line"></div></div> -->
      </div>
      <iron-collapse opened class="form-content">
        <paper-input always-float-label type="search" label="名称:" id="controlLabel" value=""></paper-input>
        <div class="form-group layout horizontal">
          <paper-checkbox id="showVisable">其他显示名称</paper-checkbox>
        </div>
        <paper-input type="search" always-float-label label="其他显示名称" id="controlLabel" value=""></paper-input>
        <paper-textarea always-float-label label="说明:"></paper-textarea>
        <vaadin-combo-box id="fieldType" label="字段类型:" class=""></vaadin-combo-box>
        <div class="form-group layout horizontal">
          <span class="menu-check"><paper-checkbox>必要的:</paper-checkbox></span>
          <paper-menu-button>
            <paper-button slot="dropdown-trigger"><iron-icon icon="expand-more"></iron-icon></paper-button>
            <paper-listbox slot="dropdown-content">
              <!-- <paper-item></paper-item> -->
            </paper-listbox>
          </paper-menu-button>
        </div>
        <div class="form-group layout horizontal">
          <span class="menu-check"><paper-checkbox>只读:</paper-checkbox></span>
          <paper-menu-button>
            <paper-button slot="dropdown-trigger"><iron-icon icon="expand-more"></iron-icon></paper-button>
            <paper-listbox slot="dropdown-content">
              <!-- <paper-item></paper-item> -->
            </paper-listbox>
          </paper-menu-button>
        </div>
        <div class="form-group layout horizontal">
          <span style="line-height: 44px">默认值:</span>
          <paper-menu-button>
            <paper-button slot="dropdown-trigger"><iron-icon icon="expand-more"></iron-icon></paper-button>
            <paper-listbox slot="dropdown-content">
              <!-- <paper-item>无</paper-item> -->
            </paper-listbox>
          </paper-menu-button>
          <paper-input class="flex" no-label-float value="次要"></paper-input>
        </div>
      </iron-collapse>
    </form>
    <form class="form form2">
      <div class="form-group">
        <paper-icon-button icon="expand-more" on-click="_shrink"></paper-icon-button>
        <label>文本字段属性</label>
      </div>
      <iron-collapse opened class="form-content">
        <p style="margin:0">字段长度:</p>
        <paper-radio-group>
          <paper-radio-button name="a"><paper-input type="number" label="指定长度:" value="25"></paper-input></paper-radio-button>
          <paper-radio-button name="b" disabled>备忘录长度 (最大2GB - 可能不可搜索)</paper-radio-button>
        </paper-radio-group>
        <div class="form-group" style="margin-top:10px">
          <paper-checkbox>允许回车</paper-checkbox>
        </div>
        <div class="form-group">
          <paper-checkbox>多格式</paper-checkbox>
        </div>
        <div class="form-group">
          <paper-checkbox disabled>摘要</paper-checkbox>
        </div>
        <div class="form-group">
          <paper-checkbox>允许进行区分大小写的搜索</paper-checkbox>
        </div>
        <div class="form-group">
          <paper-checkbox>使用 Unicode</paper-checkbox>
        </div>
        <div>
          <span>格式:</span>
          <paper-menu-button>
            <paper-button slot="dropdown-trigger"><iron-icon icon="expand-more"></iron-icon>无</paper-button>
            <paper-listbox slot="dropdown-content">
              <paper-item>无</paper-item>
            </paper-listbox>
          </paper-menu-button>
        </div>
      </iron-collapse>
    </form>
  </template>
  <script>
    class FieldPropertitesBasic extends Polymer.Element {
      static get is() { return "field-propertites-basic"; }
      static get properties() { return {
        annotationList: {
          type: Array,
          value: []
        }
      }}

      ready() {
        super.ready();
        this._initCombox();
      }

      _initCombox() {
        var _fieldType = this.root.querySelector('#fieldType');
        _fieldType.items = [
          {label: '文本', value: 1},
          {label: '数值', value: 2},
        ];
        _fieldType.value = 1;
      }

      _shrink(e){
        this.dispatchEvent(new CustomEvent('form-shrink', {
          detail: { target: e.target},
          bubbles: true, composed: true
        }));
      }
    }
    customElements.define(FieldPropertitesBasic.is, FieldPropertitesBasic);
  </script>
</dom-module>
