<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../css/form/form-style.html">

<dom-module id="field-propertites-lifecycle">
  <template>
    <style include="form-style iron-flex ">
      :host {
        width: 100%;
      }
      paper-checkbox {
        line-height: 34px;
        font-size: 12px;
      }

      /* mobile */
      @media (max-width: 767px) {
      }

    </style>

    <form class="form form2">
      <div class="form-group">
        <paper-icon-button icon="expand-more" on-click="_shrink"></paper-icon-button>
        <label>字段自动填写选项</label>
      </div>
      <iron-collapse opened class="form-content">
        <vaadin-combo-box id="importantState" label="重要状态:" class=""></vaadin-combo-box>
        <p style="margin:0">"特定于True状态的属性:"</p>
        <div class="form-group layout horizontal">
          <span class="menu-check"><paper-checkbox>必要的:</paper-checkbox></span>
          <paper-menu-button>
            <paper-button slot="dropdown-trigger"><iron-icon icon="expand-more"></iron-icon></paper-button>
            <paper-listbox slot="dropdown-content">
              <!-- <paper-item></paper-item> -->
            </paper-listbox>
          </paper-menu-button>
        </div>
        <div class="form-group layout horizontal">
          <span class="menu-check"><paper-checkbox>只读:</paper-checkbox></span>
          <paper-menu-button>
            <paper-button slot="dropdown-trigger"><iron-icon icon="expand-more"></iron-icon></paper-button>
            <paper-listbox slot="dropdown-content">
              <!-- <paper-item></paper-item> -->
            </paper-listbox>
          </paper-menu-button>
        </div>
        <div>
          <span>保存值前:</span>
          <paper-menu-button>
            <paper-button slot="dropdown-trigger"><iron-icon icon="expand-more"></iron-icon>(没有值)</paper-button>
            <paper-listbox slot="dropdown-content">
              <paper-item>(没有值)</paper-item>
            </paper-listbox>
          </paper-menu-button>
        </div>
        <div>
          <span>计算:</span>
          <paper-menu-button>
            <paper-button slot="dropdown-trigger"><iron-icon icon="expand-more"></iron-icon>选择一个表达式...</paper-button>
            <paper-listbox slot="dropdown-content">
              <paper-item>选择一个表达式</paper-item>
            </paper-listbox>
          </paper-menu-button>
        </div>
      </iron-collapse>
    </form>
  </template>
  <script>
    class FieldPropertitesLifecycle extends Polymer.Element {
      static get is() { return "field-propertites-lifecycle"; }
      static get properties() { return {
        valueList: {
          type: Array,
          value: []
        }
      }}

      ready() {
        super.ready();
        this._initCombox();
      }

      _initCombox() {
        var _importantState = this.root.querySelector('#importantState');
        _importantState.items = [
          {label: 'True', value: 1},
          {label: 'False', value: 2},
        ];
        _importantState.value = 1;
      }

      _shrink(e){
        this.dispatchEvent(new CustomEvent('form-shrink', {
          detail: { target: e.target},
          bubbles: true, composed: true
        }));
      }
    }
    customElements.define(FieldPropertitesLifecycle.is, FieldPropertitesLifecycle);
  </script>
</dom-module>
