<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../../css/form/form-style.html">

<dom-module id="field-propertites-annotation">
  <template>
    <style include="form-style iron-flex ">
      :host {
        width: 100%;
      }
      paper-checkbox {
        line-height: 34px;
        font-size: 12px;
      }
      .radio-group paper-radio-button {
        width: 100%;
      }

      /* mobile */
      @media (max-width: 767px) {
      }

    </style>

    <form class="form form2">
      <div class="form-group">
        <paper-icon-button icon="expand-more" on-click="_shrink"></paper-icon-button>
        <label>注解</label>
      </div>
      <iron-collapse opened class="form-content">
        <vaadin-grid id="grid" class="custom" items="{{filterArr}}" column-reordering-allowed>

          <vaadin-grid-column width="80px">
            <template class="header">
              <vaadin-grid-sorter path="index">序列</vaadin-grid-sorter>
            </template>
            <template>[[index]]</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="name">列名</vaadin-grid-sorter>
            </template>
            <template>[[item.name]]</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="value">列值</vaadin-grid-sorter>
            </template>
            <template>[[item.value]]</template>
          </vaadin-grid-column>
        </vaadin-grid>
      </iron-collapse>
    </form>
    <form class="form form2">
      <div class="form-group">
        <paper-icon-button icon="expand-more" on-click="_shrink"></paper-icon-button>
        <label>特殊注解</label>
      </div>
      <iron-collapse opened class="form-content">
        <paper-radio-group class="radio-group" selected="4" allow-empty-selection>
          <paper-radio-button name="1">它是说明性文本字段</paper-radio-button>
          <paper-radio-button name="2">它是电子邮件地址</paper-radio-button>
          <paper-radio-button name="3">它是电话号码</paper-radio-button>
          <paper-radio-button name="4">无</paper-radio-button>
        </paper-radio-group>
      </iron-collapse>
    </form>
  </template>
  <script>
    class FieldPropertitesAnnotation extends Polymer.Element {
      static get is() { return "field-propertites-annotation"; }
      static get properties() { return {
        valueList: {
          type: Array,
          value: []
        }
      }}

      ready() {
        super.ready();
        this.valueList = [
          {value: '标准'}, {value: '次要'}, {value: '主要'}, {value: '重大'}
        ]
      }

      _shrink(e){
        this.dispatchEvent(new CustomEvent('form-shrink', {
          detail: { target: e.target},
          bubbles: true, composed: true
        }));
      }
    }
    customElements.define(FieldPropertitesAnnotation.is, FieldPropertitesAnnotation);
  </script>
</dom-module>
