<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<dom-module id="propertites-annotation">
  <template>
    <style include="iron-flex">
      :host {
        width: 100%;
      }
      vaadin-grid {
        margin-top: 8px;
        font-size: 12px;
        --vaadin-grid-header-cell: {
          border-right: 1px solid #ddd;
        };
      }

      /* mobile */
      @media (max-width: 767px) {
      }

    </style>
    <vaadin-grid id="grid" class="custom" items="{{filterArr}}" column-reordering-allowed>

      <vaadin-grid-column width="80px">
        <template class="header">
          <vaadin-grid-sorter path="index">序列</vaadin-grid-sorter>
        </template>
        <template>[[index]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column>
        <template class="header">
          <vaadin-grid-sorter path="name">列名</vaadin-grid-sorter>
        </template>
        <template>[[item.name]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column>
        <template class="header">
          <vaadin-grid-sorter path="value">列值</vaadin-grid-sorter>
        </template>
        <template>[[item.value]]</template>
      </vaadin-grid-column>
    </vaadin-grid>
  </template>
  <script>
    class PropertitesAnnotation extends Polymer.Element {
      static get is() { return "propertites-annotation"; }
      static get properties() { return {
        annotationList: {
          type: Array,
          value: []
        }
      }}

      ready() {
        super.ready();
      }
    }
    customElements.define(PropertitesAnnotation.is, PropertitesAnnotation);
  </script>
</dom-module>
