<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../css/form/form-style.html">
<link rel="import" href="./control-mixin.html">

<dom-module id="control-input">
  <template>
    <style include="form-style">
      :host {
        display: block;
        @apply --control-position-bottom;
        /*border-style: var(--label-border-style, none);
        border-width: var(--label-border-width, 1px);
        border-color: var(--label-border-color, none);*/
        text-align: var(--label-text-align, left);
        /*background-color: var(--label-background-color, none);*/
        /*color: var(--label-foreground-color, #222);*/


      }

      paper-input {
        visibility: var(--label-visibility, visible);

        --paper-input-container: {
          padding: 0px;
        };
        --paper-input-container-input: {
          color: var(--label-foreground-color, #737373);
        };
        --paper-input-container-label: {
          color: var(--label-foreground-color, #737373);
        };
        --paper-input-container-underline: {
          border-bottom: var(--label-border-width, 1px) var(--label-border-style, solid) var(--label-border-color, #737373);
        };
      }
    </style>

    <!-- <input type="text" class="form-control" /> -->
    <paper-input label="[[Label]]"></paper-input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ControlInput extends ControlMixin(Polymer.Element) {
      static get is() { return 'control-input'; }
      static get properties() {
        return {
          ID: {
            type: String,
          },

          Category: {
            type: String,
            value: 'Input',
          },

          Label: {
            type: String,
            value: 'Label',
            notify: true,
          },

          Position: {
            type: Object,
            value: {},
          },

          Size: {
            type: Object,
            value: {},
          },

          Alignment: {
            type: Object,
            value: {},
            notify: true,
            observer: '_alignmentChanged'
          },

          Visible: {
            type: Object,
            value: { Value: true},
            notify: true,
            observer: '_visibleChanged'
          },

          Foreground: {
            type: Object,
            value: {},
            notify: true,
            observer: '_foregroundChanged'
          },

          Background: {
            type: Object,
            value: {},
            notify: true,
            observer: '_backgroundChanged'
          },

          Border: {
            type: Object,
            value: { Style: 'solid', Width: '1', BorderColor: {}},
            notify: true,
            observer: '_borderChanged'
          },

          Anchor: {
            type: String,
            value: '',
            notify: true,
            observer: '_anchorChanged'
          },

          Font: {
            type: Object,
            value: {},
            notify: true,
            observer: '_fontChanged'
          },

          RuleList: {
            type: Object,
            value: {},
            notify: true,
          },

          FieldRef: {
            type: Object,
            value: {}
          },

          TextDetails: {
            type: Object,
            value: {}
          },

          fieldPropertites: {
            type: Object,
            value: {},
            notify: true,
          }
        };
      }

      ready(){
        this.addEventListener('click', this._activeControl.bind(this));
        super.ready();
      }

      _alignmentChanged(alignment) {
        if (alignment.Value) {
          this.updateStyles({
            '--label-text-align': alignment.Value,
          });
        }
      }

      _visibleChanged(visible) {
        if (visible) {
          this.updateStyles({
            '--label-visibility': visible.Value ? 'visible' : 'hidden',
          });
        }
      }

      _foregroundChanged(foreground) {
        if (foreground.Value) {
          this.updateStyles({
            '--label-foreground-color': foreground.Value,
          });
        }
      }

      _backgroundChanged(background) {
        if (background.Color) {
          this.updateStyles({
            '--label-background-color': background.Color.Value,
          });
        }
      }

      _borderChanged(border) {
        if (border.Style) {
          this.updateStyles({
            '--label-border-style': border.Style,
            '--label-border-width': border.Width + 'px',
            '--label-border-color': border.BorderColor.Value,
          });
        }
      }

      _anchorChanged(anchor) {
        if (anchor) {
        }
      }

      _fontChanged(font) {
        if (font) {
        }
      }

      _stylesChanged(styles) {
        // console.log(styles);
        if (styles.Border) {
          this.updateStyles({
            '--label-border-style': styles.Border.Style,
            '--label-border-width': styles.Border.Width + 'px',
            '--label-border-color': styles.Border.BorderColor.Value,
            '--label-text-align': styles.Alignment.Value,
            '--label-background-color': styles.Background.Color.Value,
            '--label-foreground-color': styles.Foreground.Value,
            '--label-visibility': styles.Visible.Value ? 'visible' : 'hidden',
          });
        }
      }

      _activeControl() {
        if (this.isFormShown) {

        } else {
          this._setAvtiveControl();
          this._openDrawer();
        }
      }

      _setAvtiveControl() {
        this.dispatchEvent(new CustomEvent('set-active-control', {
          detail: { control: this},
          bubbles: true, composed: true
        }));
      }

      _openDrawer() {
        this.dispatchEvent(new CustomEvent('open-drawer', { bubbles: true, composed: true }));
      }

      _focusInput() {
        var _input = this.root.querySelector('paper-input');
        // console.log(_input);
        if (_input) {
          _input.focus();
        }
      }

    }

    customElements.define(ControlInput.is, ControlInput);
  </script>
</dom-module>
