<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-behavior.html">
<link rel="import" href="../../../bower_components/neon-animation/web-animations.html">

<link rel="import" href="../../css/form/form-style.html">
<link rel="import" href="./control-mixin.html">

<dom-module id="control-select">
  <template>
    <style include="form-style">
      :host {
        display: block;
        @apply --control-position-bottom;

        text-align: var(--label-text-align, left);

      }
      paper-dropdown-menu {
        visibility: var(--label-visibility, visible);

        --paper-input-container: {
          padding: 0px;
        };
        --paper-input-container-input: {
          color: var(--label-foreground-color, #737373);
        };
        --paper-input-container-label: {
          color: var(--label-foreground-color, #737373);
        };
        --paper-input-container-underline: {
          border-bottom: var(--label-border-width, 1px) var(--label-border-style, solid) var(--label-border-color, #737373);
        };
        --paper-dropdown-menu-ripple: {
          margin-top: 8px;
          margin-bottom: -8px;
        }
      }
    </style>
    <paper-dropdown-menu label="{{Label}}" on-selected-item-changed="_selectedChanged">
      <paper-listbox slot="dropdown-content" selected="{{selected}}" attr-for-selected="name">
        <dom-repeat items="[[menuItems]]" as="item">
          <template><paper-item name="[[item]]">[[item]]</paper-item></template>
        </dom-repeat>
      </paper-listbox>
    </paper-dropdown-menu>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ControlSelect extends ControlMixin(Polymer.Element) {
      static get is() { return 'control-select'; }
      static get properties() {
        return {
          ID: {
            type: String,
          },

          Category: {
            type: String,
            value: 'Select',
          },

          Label: {
            type: String,
            value: 'Label',
            notify: true,
          },

          Position: {
            type: Object,
            value: {},
          },

          Size: {
            type: Object,
            value: {},
          },

          Alignment: {
            type: Object,
            value: {},
            notify: true,
            observer: '_alignmentChanged'
          },

          Visible: {
            type: Object,
            value: { Value: true},
            notify: true,
            observer: '_visibleChanged'
          },

          Foreground: {
            type: Object,
            value: {},
            notify: true,
            observer: '_foregroundChanged'
          },

          Background: {
            type: Object,
            value: {},
            notify: true,
            observer: '_backgroundChanged'
          },

          Border: {
            type: Object,
            value: { Style: 'solid', Width: '1', BorderColor: {}},
            notify: true,
            observer: '_borderChanged'
          },

          Anchor: {
            type: String,
            value: '',
            notify: true,
            observer: '_anchorChanged'
          },

          Font: {
            type: Object,
            value: {},
            notify: true,
            observer: '_fontChanged'
          },

          RuleList: {
            type: Object,
            value: {},
            notify: true,
          },

          FieldRef: {
            type: Object,
            value: {}
          },

          AssociatedSelectorDetails: {
            type: Object,
            value: {}
          },

          menuItems: {
            type: Array,
            computed: '_computeSelectItems(FieldRef)'
          },

          fieldPropertites: {
            type: Object,
            value: {},
            notify: true,
          }
        };
      }

      ready(){
        this.addEventListener('click', this._activeControl.bind(this));
        super.ready();
      }

      _alignmentChanged(alignment) {
        if (alignment.Value) {
          this.updateStyles({
            '--label-text-align': alignment.Value,
          });
        }
      }

      _visibleChanged(visible) {
        if (visible) {
          this.updateStyles({
            '--label-visibility': visible.Value ? 'visible' : 'hidden',
          });
        }
      }

      _foregroundChanged(foreground) {
        if (foreground.Value) {
          this.updateStyles({
            '--label-foreground-color': foreground.Value,
          });
        }
      }

      _backgroundChanged(background) {
        if (background.Color) {
          this.updateStyles({
            '--label-background-color': background.Color.Value,
          });
        }
      }

      _borderChanged(border) {
        if (border.Style) {
          this.updateStyles({
            '--label-border-style': border.Style,
            '--label-border-width': border.Width + 'px',
            '--label-border-color': border.BorderColor.Value,
          });
        }
      }

      _anchorChanged(anchor) {
        if (anchor) {
        }
      }

      _fontChanged(font) {
        if (font) {
        }
      }

      _stylesChanged(styles) {
        // console.log(styles);
        if (styles.Border) {
          this.updateStyles({
            '--label-border-style': styles.Border.Style,
            '--label-border-width': styles.Border.Width + 'px',
            '--label-border-color': styles.Border.BorderColor.Value,
            '--label-text-align': styles.Alignment.Value,
            '--label-background-color': styles.Background.Color.Value,
            '--label-foreground-color': styles.Foreground.Value,
            '--label-visibility': styles.Visible.Value ? 'visible' : 'hidden',
          });
        }
      }

      _computeSelectItems(FieldRef) {
        var _items = FieldRef.Field && this._getMenuItems(FieldRef.Field) || [];
        return _items;
      }

      _getMenuItems(type) {
        var _items = [];
        if (type === 'Category') {
          _items = ['Category-1', 'Category-2', 'Category-3'];
        } else if (type === 'SubCategory') {
          // _items = [['Sub1-1', 'Sub1-2', 'Sub1-3'], ['Sub2-1', 'Sub2-2', 'Sub2-3'], ['Sub3-1', 'Sub3-2', 'Sub3-3']];
          _items = ['Sub-1', 'Sub-2', 'Sub-3'];
        }
        return _items;
      }

      _selectedChanged(e) {
        var _name = e.detail.value.name;
        console.log(_name);
      }

      _activeControl() {
        if (this.isFormShown) {

        } else {
          this._setAvtiveControl();
          this._openDrawer();
        }
      }

      _setAvtiveControl() {
        this.dispatchEvent(new CustomEvent('set-active-control', {
          detail: { control: this},
          bubbles: true, composed: true
        }));
      }

      _openDrawer() {
        this.dispatchEvent(new CustomEvent('open-drawer', { bubbles: true, composed: true }));
      }

    }

    customElements.define(ControlSelect.is, ControlSelect);
  </script>
</dom-module>
