<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../bower_components/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../css/form/form-style.html">
<link rel="import" href="../../css/appDrawer-styles.html">

<link rel="import" href="./propertites/propertites-annotation.html">

<dom-module id="control-properties">
  <template>
    <style include="form-style iron-flex appDrawer-styles">
      :host {
        display: block;
        text-align: left;
        font-size: 14px;
      }
      /*.form2 > .form-group {
        margin-bottom: 5px;
      }
      .form-content {
        padding: 0 15px 10px 15px;
      }
      .form-content .form-group {
        margin-top: 0px;
        margin-bottom: 0;
      }*/
      .form-content {
        font-size: 14px;
        padding: 0;
      }
      .form-content .form-label {
        width: 50px;
        line-height: 34px;
        margin-bottom: 0;
        font-size: 14px;
      }
      .form-content .form-link {
        line-height: 34px;
      }
      paper-swatch-picker {
        margin-top: -8px;
        margin-bottom: -16px;
      }
      paper-checkbox {
        line-height: 34px;
        font-size: 12px;
        /*padding-left: 16px;*/
      }

      paper-tabs {
        /*--paper-tabs-selection-bar-color: #01b1f8;*/
        /*font-size: 12px;
        background: #009688;
        color: white;*/

      }
      .tabs paper-tab{
        height: 48px;
      }
    </style>

    <div class="config-form">
      <form class="form form2 drawer-con">
        <div class="tabs">
        <paper-tabs selected="{{propertiesType}}">
          <paper-tab>外观</paper-tab>
          <paper-tab>注解</paper-tab>
          <paper-tab>行为</paper-tab>
        </paper-tabs>
        </div>
        <div class="tab-con con">
        <iron-pages selected="{{propertiesType}}">
          <section>
            <div class="form-content">
              <paper-input always-float-label label="名称:" id="controlLabel" value="[[activeProperties.Label]]"></paper-input>
              <paper-dropdown-menu always-float-label label="边框样式:" id="borderStyle">
                <paper-listbox slot="dropdown-content" selected="[[activeProperties.Border.Style]]" attr-for-selected="name">
                  <paper-item name="dashed">Dashed</paper-item>
                  <paper-item name="dotted">Dotted</paper-item>
                  <paper-item name="solid">Solid</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
              <paper-input type="number" always-float-label label="边框线条:" id="borderWidth" value="[[activeProperties.Border.Width]]"></paper-input>
              <div class="form-group layout horizontal">
                <label class="form-label" for="borderColor">边框色:</label>
                <div class="flex">
                  <paper-swatch-picker id="borderColor" color="[[_computeBorderColor(activeProperties.Border)]]"></paper-swatch-picker>
                </div>
              </div>
              <div class="form-group layout horizontal">
                <label class="form-label" for="backgroundColor">背景色:</label>
                <div class="flex">
                  <paper-swatch-picker id="backgroundColor" color="[[_computeBackgroundColor(activeProperties.Background)]]"></paper-swatch-picker>
                </div>
              </div>
              <div class="form-group layout horizontal">
                <label class="form-label" for="foregroundColor">前景色:</label>
                <div class="flex">
                  <paper-swatch-picker id="foregroundColor" color="[[_computeForegroundColor(activeProperties.Foreground)]]"></paper-swatch-picker>
                </div>
              </div>
              <div class="form-group layout horizontal">
                <paper-checkbox id="showVisable" checked="[[activeProperties.Visible.Value]]">可见</paper-checkbox>
              </div>
              <paper-dropdown-menu always-float-label label="文本对齐:" id="alignText">
                <paper-listbox slot="dropdown-content" selected="[[activeProperties.Alignment.Value]]" attr-for-selected="name">
                  <paper-item name="center">Center</paper-item>
                  <paper-item name="left">Left</paper-item>
                  <paper-item name="right">Right</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
              <div class="form-group layout horizontal">
                <label class="form-label" for="controlFont">字体:</label>
                <div class="flex">
                  <a class="form-link" href="#">Roboto</a>
                </div>
              </div>
              <paper-dropdown-menu always-float-label label="字体来源:" id="controlSource">
                <paper-listbox slot="dropdown-content" selected="" attr-for-selected="name">
                  <paper-item name="">指定来源</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
            </div>
          </section>
          <section>
            <div class="form-content">
              <propertites-annotation></propertites-annotation>
            </div>
          </section>
          <section>
            <div class="form-content" id="configActions">
              <div class="form-group layout horizontal">
                <paper-checkbox name="UseHtml" checked=[[_computeDetail(textDetails.UseHtml)]]>HTML支持</paper-checkbox>
              </div>
              <div class="form-group layout horizontal">
                <paper-checkbox name="TabFocus" checked=[[_computeDetail(textDetails.TabFocus)]]>TAB焦点接收</paper-checkbox>
              </div>
              <div class="form-group layout horizontal">
                <paper-checkbox name="UrlSupport" checked=[[_computeDetail(textDetails.UrlSupport)]]>URL支持</paper-checkbox>
              </div>
              <div class="form-group layout horizontal">
                <paper-checkbox name="Recovery" checked=[[_computeDetail(textDetails.Recovery)]]>回收</paper-checkbox>
              </div>
              <paper-input type="number" always-float-label label="标签索引:" id="tagIndex" value=""></paper-input>
              <paper-dropdown-menu always-float-label label="关联字段名:" id="associatedFieldName">
                <paper-listbox slot="dropdown-content" selected="[[activeProperties.FieldRef.Field]]" attr-for-selected="name">
                  <dom-repeat items="[[fieldNames]]" as="item">
                    <template>
                      <paper-item name$="[[item.field]]">[[item.name]]</paper-item>
                    </template>
                  </dom-repeat>
                </paper-listbox>
              </paper-dropdown-menu>
              <paper-input always-float-label label="排序字段:" name="sortBy" value=""></paper-input>
              <div class="form-group layout horizontal">
                <paper-checkbox name="ComboBoxSortField" checked=[[_computeDetail(textDetails.ComboBoxSortField)]]>升序</paper-checkbox>
              </div>
              <div class="form-group layout horizontal">
                <paper-checkbox name="UseComboBox" checked=[[_computeDetail(textDetails.UseComboBox)]]>下拉组合框</paper-checkbox>
              </div>
            </div>
          </section>
        </iron-pages>
        </div>

      </form>

      <!-- <div class="form-group text-right" style="margin-right: 10px;">
        <paper-button raised class="pbtn pbtn-primary" on-tap="_saveConfig">保存</paper-button>
      </div> -->
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ControlProperties extends Polymer.Element {
      static get is() { return 'control-properties'; }
      static get properties() {
        return {
          activeControl: {
            type: Object,
          },

          activeProperties: {
            type: Object,
            notify: true,
          },

          propertiesType: {
            type: String,
            value: '0'
          },

          textDetails: {
            type: Object,
            value: {},
          }

        };
      }

      static get observers() { return [
        '_activePropertiesChanged(activeProperties)'
      ]}

      ready(){
        super.ready();
        this.fieldNames = [
          {name: '姓名', field: 'Name'},
          {name: '类别', field: 'Category'},
          {name: '子类别', field: 'SubCategory'},
        ]
      }

      _activePropertiesChanged(activeProperties) {
        console.log(activeProperties);
        if (activeProperties) {
          if (activeProperties.Category === 'Select') {
            this.textDetails = activeProperties.AssociatedSelectorDetails;
          } else {
            this.textDetails = activeProperties.TextDetails;
          }
        }
      }

      _shrink(e){
        var _form = e.target.parentNode.parentNode;
        var _content = _form.querySelector('iron-collapse');
        _content.toggle();
        var _opened = _content.opened;
        if (_opened) {
          e.target.icon = 'expand-more';
        } else {
          e.target.icon = 'chevron-right';
        }
      }

      _saveConfig() {
        var _activeControl = this.activeControl;
        var _category = _activeControl.Category;
        var _label = this.$.controlLabel.value;
        // console.log(_label);
        if (_label) {
          _activeControl.Label = _label;
        }
        var _boderItem = this.$.borderStyle.selectedItem;
        var _borderStyle = '';
        if (_boderItem) {
          _borderStyle = _boderItem.getAttribute('name');
        }
        var _borderColor = this.$.borderColor.color,
            _borderWidth = this.$.borderWidth.value;
        var _border = {
          Style: _borderStyle,
          Width: _borderWidth && _borderWidth >=0 ? _borderWidth : 0,
          BorderColor: {Value: _borderColor, text: ''}
        }
        var _backgroundColor = this.$.backgroundColor.color,
            _foregroundColor = this.$.foregroundColor.color;
        var _background = {
          Color: {
            Value: _backgroundColor,
            text: ""
          },
        }
        var _alignItem = this.$.alignText.selectedItem;
        var _alignText = '';
        if (_alignItem) {
          _alignText = _alignItem.getAttribute('name');
        }
        var _visable = this.$.showVisable.checked;
        var _fieldItem = this.$.associatedFieldName.selectedItem;
        var _fieldName = _fieldItem && _fieldItem.getAttribute('name') || '';
        // console.log(_fieldName);
        var _checkboxs = this.$.configActions.querySelectorAll('paper-checkbox');
        // console.log(_checkboxs);
        var _details = {};
        _checkboxs.forEach(function(item){
          var _name = item.getAttribute('name'), _check = item.checked;
          if (_name === 'ComboBoxSortField') {
            _details[_name] = { Ascending: _check};
          } else {
            _details[_name] = { Value: _check};
          }
        });
        // console.log(_details);

        _activeControl.Border = _border;
        _activeControl.Alignment = {Value: _alignText};
        _activeControl.Visible = { Value: _visable };
        _activeControl.Foreground = { Value: _foregroundColor };
        _activeControl.Background = _background;
        _activeControl.Background = _background;
        _activeControl.FieldRef = { Field: _fieldName};
        if (_category === 'Select') {
          _activeControl.AssociatedSelectorDetails = _details;
        } else {
          _activeControl.TextDetails = _details;
        }


        this.dispatchEvent(new CustomEvent('close-drawer', { bubbles: true, composed: true }));
        // _activeControl.styles = {
        //   Border: _border,
        //   Alignment: {Value: _alignText},
        //   Visible: { Value: _visable },
        //   Foreground: { Value: _foregroundColor },
        //   Background: _background,
        // }
      }

      _computeBorderColor(border) {
        if (border && border.BorderColor) {
          return border.BorderColor.Value || null;
        }
        return null;
      }

      _computeBackgroundColor(background) {
        if (background && background.Color) {
          return background.Color.Value || null;
        }
        return null;
      }

      _computeForegroundColor(foreground) {
        if (foreground && foreground.Value) {
          return foreground.Value || null;
        }
        return null;
      }

      _computeDetail(detail) {
        return detail && (detail.Value || detail.Ascending);
      }

    }

    customElements.define(ControlProperties.is, ControlProperties);
  </script>
</dom-module>
