<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../css/form/form-style.html">
<link rel="import" href="./control-mixin.html">

<dom-module id="control-label">
  <template>
    <style include="form-style">
      :host {
        display: block;
        width: 100%;
        max-width: 100%;
        @apply --control-position-bottom;

        border-style: var(--label-border-style, none);
        border-width: var(--label-border-width, 1px);
        border-color: var(--label-border-color, none);
        text-align: var(--label-text-align, left);
        background-color: var(--label-background-color, none);
        color: var(--label-foreground-color, #222);

      }
      label {
        visibility: var(--label-visibility, visible);

        margin-top: 5px;
        margin-bottom: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
      }
    </style>

    <label>[[Label]]</label>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ControlLabel extends ControlMixin(Polymer.Element) {
      static get is() { return 'control-label'; }
      static get properties() {
        return {
          ID: {
            type: String,
          },

          Category: {
            type: String,
            value: 'Label',
          },

          Label: {
            type: String,
            value: 'Label',
            notify: true,
          },

          Position: {
            type: Object,
            value: {},
          },

          Size: {
            type: Object,
            value: {},
          },

          Alignment: {
            type: Object,
            value: {},
            notify: true,
            observer: '_alignmentChanged'
          },

          Visible: {
            type: Object,
            value: { Value: true},
            notify: true,
            observer: '_visibleChanged'
          },

          Foreground: {
            type: Object,
            value: {},
            notify: true,
            observer: '_foregroundChanged'
          },

          Background: {
            type: Object,
            value: {},
            notify: true,
            observer: '_backgroundChanged'
          },

          Border: {
            type: Object,
            value: {},
            notify: true,
            observer: '_borderChanged'
          },

          Anchor: {
            type: String,
            value: '',
            notify: true,
            observer: '_anchorChanged'
          },

          Font: {
            type: Object,
            value: {},
            notify: true,
            observer: '_fontChanged'
          },

          RuleList: {
            type: Object,
            value: {},
            notify: true,
          },

          FieldRef: {
            type: Object,
            value: {}
          },

        };
      }

      ready(){
        this.addEventListener('click', this._activeControl.bind(this));
        super.ready();
        // this.styles = {
        //   Border: {
        //     BorderColor: {Value: '#0288d1'}
        //   }
        // }
      }

      _alignmentChanged(alignment) {
        if (alignment.Value) {
          this.updateStyles({
            '--label-text-align': alignment.Value,
          });
        }
      }

      _visibleChanged(visible) {
        if (visible) {
          this.updateStyles({
            '--label-visibility': visible.Value ? 'visible' : 'hidden',
          });
        }
      }

      _foregroundChanged(foreground) {
        if (foreground.Value) {
          this.updateStyles({
            '--label-foreground-color': foreground.Value,
          });
        }
      }

      _backgroundChanged(background) {
        if (background.Color) {
          this.updateStyles({
            '--label-background-color': background.Color.Value,
          });
        }
      }

      _borderChanged(border) {
        if (border.Style) {
          this.updateStyles({
            '--label-border-style': border.Style,
            '--label-border-width': border.Width + 'px',
            '--label-border-color': border.BorderColor.Value,
          });
        }
      }

      _anchorChanged(anchor) {
        if (anchor) {
        }
      }

      _fontChanged(font) {
        if (font) {
        }
      }

      _stylesChanged(styles) {
        // console.log(styles);
        if (alignment.Value) {
          this.updateStyles({
            '--label-border-style': styles.Border.Style,
            '--label-border-width': styles.Border.Width + 'px',
            '--label-border-color': styles.Border.BorderColor.Value,
            '--label-text-align': styles.Alignment.Value,
            '--label-background-color': styles.Background.Color.Value,
            '--label-foreground-color': styles.Foreground.Value,
            '--label-visibility': styles.Visible.Value ? 'visible' : 'hidden',
          });
        }
        // if (styles.Alignment) {
        //   this.updateStyles({
        //     '--label-text-align': styles.Alignment.Value,
        //   });
        // }
      }

      _activeControl() {
        if (this.isFormShown) {

        } else {
          this._setAvtiveControl();
          this._openDrawer();
        }
      }

      _setAvtiveControl() {
        this.dispatchEvent(new CustomEvent('set-active-control', {
          detail: { control: this},
          bubbles: true, composed: true
        }));
      }

      _openDrawer() {
        this.dispatchEvent(new CustomEvent('open-drawer', { bubbles: true, composed: true }));
      }

    }

    customElements.define(ControlLabel.is, ControlLabel);
  </script>
</dom-module>
