<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<dom-module id="wait-dialog">

  <template>
    <style>
      #dialog .con{
        position: relative;
        width: 400px;
        padding:40px;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
      }
      .small-icon{
        position: absolute;
        right: 15px;
        top:-5px;
        cursor: pointer;
      }
      .small-icon div{
        position: relative;
        width:100%;
        height: 100%;
      }
    </style>
    <paper-dialog id="dialog" entry-animation="fade-in-animation" exit-animation="fade-out-animation" modal>
      <div class="con">
        <iron-icon class="small-icon" icon="vaadin:close" title="close" on-click="_closeDialog">
          <div><paper-ripple></paper-ripple></div>
        </iron-icon>
        请稍等<br />
        正在努力加载数据...
      </div>
    </paper-dialog>
  </template>

  <script>

    class WaitDialog extends Polymer.Element {

      static get is() { return 'wait-dialog'; }

      static get properties() { return {

      }}

      ready() {
        super.ready();
      }

      _openDialog(){
        this.$.dialog.open();
      }

      _closeDialog(){
        this.$.dialog.close();
      }

    }

    customElements.define(WaitDialog.is, WaitDialog);

  </script>

</dom-module>
