<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../css/form/form-style.html">

<dom-module id="operation-menu">
  <template>
    <style include="">
      :host {
        display: block;
      }
      .menu-btn {
        color: #fff;
        border-radius: 50%;
        background: #b2c7ff;
        padding: 5px;
        width: 30px;
        height: 30px;
      }
      paper-menu-button {
        --paper-menu-button-content: {
          top: 50px!important;
        }
      }

    </style>

    <!-- <div class="grid-stack"></div> -->
    <paper-menu-button class="menu">
      <paper-icon-button slot="dropdown-trigger" icon="expand-more" class="menu-btn"></paper-icon-button>
      <paper-listbox slot="dropdown-content">
        <paper-item name="1" on-click="_addNew">Add New Column</paper-item>
        <paper-item name="2" on-click="_addNew">Add New Block</paper-item>
        <!-- <paper-item name="3">Add New Item</paper-item> -->
        <paper-item name="4">Add New Field</paper-item>
      </paper-listbox>
    </paper-menu-button>
    <paper-icon-button icon="close" class="menu-btn" on-click="_removeNew"></paper-icon-button>
    <!-- <a class="remove-item" on-click="_removeWidget"><iron-icon icon="close"></iron-icon><paper-ripple></paper-ripple></a> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OperationMenu extends Polymer.Element {
      static get is() { return 'operation-menu'; }
      static get properties() {
      }

      ready(){
        super.ready();
      }

      _addNew(e) {
        var _val = e.target.getAttribute('name');
        console.log(_val);
        if (_val !== '') {
          this.dispatchEvent(new CustomEvent('add-new', {
            detail: { self: this, tag: parseInt(_val)},
            bubbles: true, composed: true
          }));
        }

      }

      _removeNew(e) {
        this.dispatchEvent(new CustomEvent('remove-new', {
          detail: { self: this, tag: null},
          bubbles: true, composed: true
        }));
      }

      _initGridstack() {
        var _grid = Polymer.dom(this.root).querySelector('.grid-stack');
        console.log(_grid);
        var options = {
            float: true,
            width: 12,
            // verticalMargin: 5,
            draggable: {
              handle: '.grid-stack-item-content',
              scroll: false,
              appendTo: 'parent'
            }
        };
        $(_grid).gridstack(options);
      }

    }

    customElements.define(OperationMenu.is, OperationMenu);
  </script>
</dom-module>
