<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../css/form/form-style.html">

<dom-module id="operation-menu">
  <template>
    <style include="">
      :host {
        display: block;
      }
      .menu-btn {
        color: #fff;
        border-radius: 50%;
        background: #b2c7ff;
        padding: 5px;
        width: 30px;
        height: 30px;
      }
      paper-menu-button {
        --paper-menu-button-content: {
          top: 50px!important;
        }
      }
      .menu {
        display: inline-block;
      }
      .menu ul, .menu ul li ul {
        list-style: none;
        margin: 0;
        padding: 5px 0;
        display: none;
        position: absolute;
        z-index: 99;
        width: 140px;
        background: #fafafa;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0,0,0,0.04),0 1px 4px rgba(0,0,0,0.12);
      }
      .menu ul.active {
        display: block;
      }
      .add-field:hover .sub-menu {
        display: block;
      }
      .menu ul.sub-menu {
        top: 0;
        left: 100%;
      }
      .menu ul li {
        clear: both;
        width: 100%;
        border: none;
      }
      .menu li {
        display: inline-block;
        margin: 0;
        padding: 0;
        float: left;
        line-height: 20px;
        position: relative;
      }
      .menu ul li a {
        padding: 8px 10px;
        width: 100%;
        color: #404040;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        float: left;
        clear: both;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }
    .menu ul li:hover > a {
      background: #e0e0e0;
    }
    .menu ul li.header:hover > a {
      background: none;
    }

    .menu ul li a iron-icon {
      width: 19px;
      height: 19px;
      float: right;
    }
    .sub-menu .header paper-input {
      --paper-input-container: {
        padding:0;
      }
    }

    </style>

    <!-- <div class="grid-stack"></div> -->
    <!-- <paper-menu-button class="menu">
      <paper-icon-button slot="dropdown-trigger" icon="add" class="menu-btn"></paper-icon-button>
      <paper-listbox slot="dropdown-content">
        <paper-item name="1" on-click="_addNew">Add New Column</paper-item>
        <paper-item name="2" on-click="_addNew">Add New Block</paper-item>
        <paper-item name="3">Add New Item</paper-item>
        <paper-item name="4" on-click="_addNew">Add New Field</paper-item>
      </paper-listbox>
    </paper-menu-button> -->
    <div class="menu">
      <paper-icon-button icon="add" class="menu-btn" on-click="_showAddMenu" on-blur="_blurMenu"></paper-icon-button>
      <ul class="add-menu" id="addMenu">
        <li><a href="#" data-id="1" on-click="_addNew"><paper-ripple></paper-ripple>Add New Column</a></li>
        <li><a href="#" data-id="2" on-click="_addNew"><paper-ripple></paper-ripple>Add New Block</a></li>
        <li><a href="#" data-id="4" name="input" on-click="_addNew"><paper-ripple></paper-ripple>Add New Item</a></li>
        <li class="add-field">
          <a href="#" name="4"><paper-ripple></paper-ripple>Add New Field <iron-icon icon='chevron-right'></iron-icon></a>
          <ul class="sub-menu">
            <li class="header"><a href="#"><paper-input type="search" always-float-label label="字段搜索"></paper-input></a></li>
            <li><a href="#" data-id="4" name="button" on-click="_addNew"><paper-ripple></paper-ripple>Button</a></li>
            <li><a href="#" data-id="4" name="checkbox" on-click="_addNew"><paper-ripple></paper-ripple>Checkbox</a></li>
            <li><a href="#" data-id="4" name="input" on-click="_addNew"><paper-ripple></paper-ripple>Input</a></li>
            <li><a href="#" data-id="4" name="label" on-click="_addNew"><paper-ripple></paper-ripple>Label</a></li>
            <li><a href="#" data-id="4" name="radio" on-click="_addNew"><paper-ripple></paper-ripple>Radio</a></li>
            <li><a href="#" data-id="4" name="select" on-click="_addNew"><paper-ripple></paper-ripple>Select</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <paper-icon-button icon="close" class="menu-btn" on-click="_removeNew"></paper-icon-button>
    <!-- <a class="remove-item" on-click="_removeWidget"><iron-icon icon="close"></iron-icon><paper-ripple></paper-ripple></a> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OperationMenu extends Polymer.Element {
      static get is() { return 'operation-menu'; }
      static get properties() {
      }

      ready(){
        super.ready();
      }

      _addNew(e) {
        var _val = $(e.target).attr('data-id');
        // console.log(_val);
        if (_val !== '') {
          var _name = e.target.getAttribute('name');
          this.dispatchEvent(new CustomEvent('add-new', {
            detail: { self: this, tag: parseInt(_val), name: _name},
            bubbles: true, composed: true
          }));
        }

      }

      _removeNew(e) {
        this.dispatchEvent(new CustomEvent('remove-new', {
          detail: { self: this, tag: null},
          bubbles: true, composed: true
        }));
      }

      _showAddMenu() {
        this.$.addMenu.classList.add('active');
      }

      _blurMenu(e) {
        setTimeout(function() {
          this.$.addMenu.classList.remove('active');
        }.bind(this), 150)
      }

    }

    customElements.define(OperationMenu.is, OperationMenu);
  </script>
</dom-module>
