<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../css/form/form-style.html">

<dom-module id="remove-widget-link">
  <template>
    <style include="">
      :host {
        display: block;
      }
      .remove-item {
        float: right;
        color: #404040;
        position: relative;
      }
      .remove-item:hover {
        color: #333;
      }
      .remove-item iron-icon {
        width: 18px;
        height: 18px;
      }
    </style>

    <a class="remove-item" on-click="_removeWidget"><iron-icon icon="close"></iron-icon><paper-ripple></paper-ripple></a>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RemoveWidgetLink extends Polymer.Element {
      static get is() { return 'remove-widget-link'; }
      static get properties() {
      }

      ready(){
        super.ready();
      }

      _removeWidget(e) {
        var gridItem = this.parentNode.parentNode;
        if (gridItem.classList.contains('grid-stack-item')) {
          if (this.parentNode && this.parentNode.classList.contains('active')) {
            // console.log(this.parentNode.lastChild);
            this.dispatchEvent(new CustomEvent('set-active-control', {
              detail: { control: this.parentNode.lastChild, isDelete: true},
              bubbles: true, composed: true
            }));
          }
          this.dispatchEvent(new CustomEvent('remove-widget', {detail: gridItem, bubbles: true, composed: true}));
        }
      }

    }

    customElements.define(RemoveWidgetLink.is, RemoveWidgetLink);
  </script>
</dom-module>
